@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--dark: #06f;
	--light: #ccc;
}

* {
	box-sizing: border-box;
	margin: 0;
	outline: none;
	padding: 0;
}

*:focus {
	outline: 1px dotted var(--dark);
	outline-offset: 2px;
}

html {
	font-size: 18px;
}

body {
	height: 100vh;
	width: 100vw;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
}

table, th, td {
	border: 1px solid #000;
}

th, td {
	padding: 10px;
	text-align: left;
}

form > label, form > label > span {
	display: block;
}

form > label > span {
	padding: 10px 0;
}

form > label > input,
form > label > textarea,
form > button {
	border: 1px solid var(--light);
	font-size: .9rem;
	padding: 10px;
	width: 250px;
}

form > label > textarea {
	font-family: inherit;
	max-height: 200px;
	resize: vertical;
}

form > button {
	background: var(--light);
	cursor: pointer;
	margin-top: 20px;
}

.calendar-wrp {
	display: flex;
	gap: 0.75rem;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

.calendar-item {
	width: 300px;
	display: inline-block;
	vertical-align: top;
	font: 14px/1.2 Arial, sans-serif;
}
.calendar-head {
	text-align: center;
	padding: 5px;
	font-weight: 700;
	font-size: 14px;
}
.calendar-item table {
	border-collapse: collapse;
	border: none;
	width: 100%;
}
.calendar-item th {
	font-size: 12px;
	padding: 6px 7px;
	text-align: center;
	color: #888;
	font-weight: normal;
}
.calendar-item td {
	font-size: 13px;
	padding: 6px 5px;
	text-align: center;
	border: 1px solid #ddd;
}
.calendar-item tr th:nth-child(6), .calendar-item tr th:nth-child(7),
.calendar-item tr td:nth-child(6), .calendar-item tr td:nth-child(7)  {
	color: #e65a5a;
}	
.calendar-day.last {
	color: #999 !important;
}	
.calendar-day.today {
	font-weight: bold;
}
.calendar-day.event {
	background: #ffe2ad;
	position: relative;
	cursor: pointer;
}
.calendar-day.event:hover .calendar-popup {
	display: block;
}
.calendar-popup {
	display: none;
	position: absolute;
	top: 40px;
	left: 0;
	min-width: 200px;
	padding: 15px;
	background: #fff;
	text-align: left;
	font-size: 13px;
	z-index: 100;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	color: #000;
}
.calendar-popup:before {
	content: ""; 
	border: solid transparent;
	position: absolute;    
	left: 8px;    
	bottom: 100%;
	border-bottom-color: #fff;
	border-width: 9px;
	margin-left: 0;
}
/**
 * max-width: 768px
 */
@media only screen and (max-width: 768px) {

	body {
		font-size: .9rem;
	}

	.table-responsive {
		max-width: 100%;
		overflow-x: scroll;
	}

	footer {
		font-size: .85rem;
	}

}
